label{
    display: block;
    margin-bottom: 0.5em;
}

.form-top{
    margin-bottom: 1em;
}

.form-middle{
    margin-bottom: 1em;
}

.form-bottom{
    margin-bottom: 1em;
}

.mainDiv{
    margin:0%;
    padding: 0%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 17em;

}