.mainDiv{
    margin:0%;
    padding: 0%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 45em;
    align-content: center;
    text-align: center;
}

.mainDiv label{

   float: left;
}

.mainDiv input{
    float: left;
    margin-left: 1em;
}

